<style>
.cosetti_form {
	position: absolute;
	width:80px;
	right:20px;
	top: -70px;
}
.main-title {
	position: relative;
	font-size: 32px;
	padding: 30px;
	text-align: center;
	top: -15px;
}

</style>
<div class="container">
	<div class="row main-title">
		<div class="col-md-20" style="text-align: center">
			<span>Start using Artime now !</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" style="padding: 10px">
			<h4 class="title" style="position:relative">
				<img src="/assets/landing_cosetti_signup.png" class="cosetti_form" />
				<span>Register Form</span>
			</h4>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>
				<div class="form-group">
					<%= f.text_field :first_name, placeholder: "First name", class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.text_field :last_name, placeholder: "Last name", class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.email_field :email, placeholder: "Email", class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Re-enter password", class:"form-control" %>
				</div>
				<div class="form-group">
					<select name="plan" id="plan" class="form-control">
						<option value="" disabled="disabled">Choose your plan...</option>
						<option value="freelancer">Freelancer (free / 1 user)</option>
						<option value="startup">Startup team ($ 25 / month / up to 5 users)</option>
						<option value="rocket">Rocket team ($ 49 / month / unlimited users)</option>
					</select>
				</div>
				<div class="form-group text-center">
					<%= f.submit "Register an account", class: "button", style: "width:200px" %>
				</div>
			<% end %>
		</div><!-- end register -->       
	</div>      
</div><!-- end container -->

<script>
	$("#jetmenu>li").removeClass("active");
	$("li#sign_up").addClass("active");
	$("#plan").val("<%=params[:plan]%>");
</script>