<ul class="list-unstyled users-list">
<%
for(var i=0; i < collection.models.length; i++)
{
	var model = collection.models[i];
%>
	<li>
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object avatar" src="<%=model.attributes.avatar%>">
			</a>
			<div class="media-body">
				<div class="pull-right">
					<a href="#" data-model-id="<%=model.id%>" class="edit-link"><i class="fa fa-pencil fa-fw"></i></a>
				</div>
				<div class="user-name"><%=model.attributes.name%></div> 
				<%=model.getRole()%> · 
				<%=model.attributes.email%>
			</div>
		</div>
	</li>
<%
}
%>

</ul>
<style>
.users-list > li {
	border-bottom: 1px solid whitesmoke;
	padding: 10px;
}
.users-list > li:hover {
	background-color: whitesmoke;
}
div.user-name {
	font-size: 16px;
}
.avatar {
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 50%;
}
a > i.fa {
	color: #777;
	font-size: 20px;
}
a > i.fa:hover {
	color: #ed5565;
}
</style>