<div class="row">
	<div class="col-md-9">
		<div class="content-panel" style="min-height: 460px">
			<div class="content-header">
				Week time for: <strong><span id="timesheetUsername"></span></strong>
				<button class="pull-right btn btn-theme04" id="save_timesheet" style="margin-left:10px">Save</button>
				<button class="pull-right btn btn-theme04" id="add_task" style="margin-left:10px">Add task</button>
				<button class="pull-right btn btn-theme04" id="pick_user">Another user</button>
			</div>
			<div style="padding:10px">

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Task</th>
							<th class="col-md-1">Sun</th>
							<th class="col-md-1">Mon</th>
							<th class="col-md-1">Tue</th>
							<th class="col-md-1">Wed</th>
							<th class="col-md-1">Thu</th>
							<th class="col-md-1">Fri</th>
							<th class="col-md-1">Sa</th>
							<th class="col-md-1">Totals</th>
						</tr>
					</thead>
					<tbody>
					<%
					  var color_index = 0
						for(var i = 0; i < timesheet.length; i++) 
						{
							var timesheetTask = timesheet[i];

							// List of colors to differentiate projects
  						var colors = ["#0099FF","#33CC33", "#F7464A", "#ABAB0C", "#A80A79","#990033", "#7B0AA8", "#003366", "#000000"];

  						// Switch to next color if needed
							if (i > 0)
							{
								var previousTimesheetTask = timesheet[i - 1]
								if (timesheetTask.project_name !== previousTimesheetTask.project_name)
								{
									color_index++;
									if (color_index > colors.length) color_index = 0;
								}								
							}
							var color = colors[color_index];
							%>
							<tr>
								<td>
									<i class="fa fa-square fa-fw" style="color: <%= color %>"></i>
									<strong><%= timesheetTask.project_name %></strong> ·
									<%= timesheetTask.task_name %>
								</td>
								<%
								for (j = 0; j < 7; j++)
								{
									%>
									<td>
										<input type="text" name="timesheet_task" data-index="<%= i %>" data-weekday="<%= j %>" class="form-control input-hours" value="<%= timesheetTask.week_input[j] %>"/>
									</td>
									<%
								}
								%>

								<td data-index="<%= i %>" class="task-total">TBC</td>
							</tr>
							<%
						} 
						%>	
						<tr>			
							<td class="day-total">Totals</td>
							<%					
							for (var i = 0; i < 7; i++)
							{ 
								%>
								<td data-weekday="<%= i %>" class="day-total">TBC</td>
								<% 					
							} 
						%>	
							<td class="week-total">TBC</td>				
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<div class="col-lg-3">
		<div class="green-panel mt pn" style="margin-bottom: 10px">
			<div class="green-header">
				<h5>Week range</h5>
			</div>
			<h2><p><%= current_moment.format("DD MMM") %> to <%= current_moment.clone().add("day", 6).format("DD MMM") %></p></h2>
			<div style="padding-bottom:10px">
				<div class="btn-group">
				  <button type="button" id="previous_week" class="btn btn-theme04">Prev</button>
				  <button type="button" id="this_week" class="btn btn-theme04">This week</button>
				  <button type="button" id="next_week" class="btn btn-theme04">Next</button>
				</div>
			</div>
		</div>
		<div class="darkblue-panel pn" style="margin-bottom: 10px">
			<div class="darkblue-header" style="margin-bottom:0px">
				<h5>How is your input ?</h5>
				<div id="inputDiv" style="color:white; margin-top: 15px; margin-bottom: 15px; margin-left: 15px; margin-right: 20px">
					
				</div>
			</div>
			<div></div>
		</div>
		<div class="darkblue-panel pn">
			<div class="darkblue-header" style="margin-bottom:0px">
				<h5>Billable hours %</h5>
			</div>
			<canvas id="billablechart" height="100" width="100"></canvas>
		</div>
	</div>
</div>

<style>
.input-hours {
	text-align: right;
}
.day-total, .week-total, .task-total {
	font-size: 16px;
	font-weight: 700;
	text-align: right;
}
.pn {
	height: auto;
}
th {
	text-align: center;
}
</style>